<%= render 'home/form' %>
<main>
  <div class="main">
    <div class="container">
      <div class="content-body">
        <h2>ユーザー編集</h1>
          <div class="sortTab">
            <ul>
              <%= link_to("◀︎戻る", "/users/index") %>
            </ul>
          </div>
        <%= form_tag("/users/#{@user.id}/update") do %>
          <%= render 'users/form_entry' %>
        <% end %>
      </div>
    </div>
  </div>
</main>
<%= render 'home/footer' %>
