<%= render 'home/form' %>
<main>
  <div class="main">
    <section class="container">
      <div class="content-body">
        <h2>ユーザー一覧</h2>
        <div class="sortTab">
          <ul>
            <%= link_to("新規登録", "/users/new") %>
          </ul>
        </div>
      <div class="content-body">
        <ul>
          <% @users.each do |user| %>
            <li>
              <div class="userList">
                <div class="number"><%= user.id %></div>
                <div class="nickname"><%= user.nickname %></div>
                <div class="mail_address"><%= user.mail_address %></div>
                <div class="password"><%= user.password %></div>
                <div class="number"><%= link_to("編集", "/users/#{user.id}/edit") %></div>
                <div class="number"><%= link_to("削除", "/users/#{user.id}/destroy",
                    {method: "post",data: { confirm: 'Sure?' }}) %></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
</main>
<%= render 'home/footer' %>
