<%= render 'home/form' %>
<div class="top-image">
  <div class="top-background">
    <div class="message">
      <h2>ERP導入までの道のりに、<br>みんなの口コミを。</h2>
      <div class="search-box">
        <input value="システム名で検索する">
        <div><%= image_tag('search.jpg') %></div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div><%= image_tag('カテゴリ.jpg') %></div>
    <h2>カテゴリから探す</h2>
    <div class="item-box">
      <a href="/about">
        <figure>
          <%= image_tag('製造.jpg') %>
          <figcaption>製造・原価管理</figcaption>
        </figure>
      </a>
      <a href="/about">
        <figure>
          <%= image_tag('販売.jpg') %>
          <figcaption>販売・購買管理</figcaption>
        </figure>
    </a>
    <a href="/about">
      <figure>
        <%= image_tag('プロジェクト.jpg') %>
        <figcaption>プロジェクト案件管理</figcaption>
      </figure>
    </a>
    </div>
    <div class="item-box">
      <a href="/about">
        <figure>
          <%= image_tag('不動産.jpg') %>
          <figcaption>不動産管理</figcaption>
        </figure>
      </a>
      <a href="/about">
        <figure>
          <%= image_tag('会計.jpg') %>
          <figcaption>財務会計・管理会計</figcaption>
        </figure>
      </a>
      <a href="/about">
        <figure>
          <%= image_tag('人事.jpg') %>
          <figcaption>人事給与勤怠</figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div><%= image_tag('業界.jpg') %></div>
    <h2>所属している業界から探す</h2>
    <div class="item-box">
      <a href="/about">
        <figure>
          <%= image_tag('製造.jpg') %>
          <figcaption>メーカー</figcaption>
        </figure>
      </a>
      <a href="/about">
        <figure>
          <%= image_tag('販売.jpg') %>
          <figcaption>商社・卸売</figcaption>
        </figure>
      </a>
      <a href="/about">
        <figure>
          <%= image_tag('建設工事.jpg') %>
          <figcaption>建設工事</figcaption>
        </figure>
      </a>
    </div>
    <div class="item-box">
      <a href="/about">
        <figure>
          <%= image_tag('小売.jpg') %>
          <figcaption>小売・流通</figcaption>
        </figure>
      </a>
      <a href="/about">
        <figure>
          <%= image_tag('不動産.jpg') %>
          <figcaption>不動産関連</figcaption>
        </figure>
      </a>
      <a href="/about">
        <figure>
          <%= image_tag('物流.jpg') %>
          <figcaption>運輸・物流</figcaption>
        </figure>
      </a>
    </div>
    <div class="item-box">
      <a href="/about">
        <figure>
          <%= image_tag('情報サービス.jpg') %>
          <figcaption>情報サービス</figcaption>
        </figure>
      </a>
      <a href="/about">
        <figure>
          <%= image_tag('金融.jpg') %>
          <figcaption>金融</figcaption>
        </figure>
      </a>
      <a href="/about">
        <figure>
          <%= image_tag('その他.jpg') %>
          <figcaption>その他</figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
<%= render 'home/footer' %>
