<%= render 'home/form' %>
<div class="top-image">
  <div class="top-background">
    <div class="message">
      <h2>ERP導入までの道のりに、<br>みんなの口コミを。</h2>
      <div class="search-box">
        <a class="link-button" href="/vendors/index">ベンダーから探す</a>
        <a class="link-button" href="/systems/index">システムから探す</a>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="searchIMG"><%= image_tag('カテゴリ.jpg') %></div>
    <h3>業務領域から探す</h3>
    <div class="item-box">
      <% @business_types.each do |business_type| %>
      <!-- 改行してデザイン調整するため -->
        <% if business_type.id == 4 %>
          </div><div class="item-box">
        <% end %>
      <!-- ここまで -->
          <a href="/vendors/index">
            <figure>
              <%= image_tag("businessTypeItem/#{business_type.id}.jpg") %>
              <figcaption><%= "#{business_type.name}"%></figcaption>
            </figure>
          </a>
      <% end %>
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="searchIMG"><%= image_tag('業界.jpg') %></div>
    <h3>所属している業界から探す</h3>
    <div class="item-box">
      <% @industry_types.each do |industry_type| %>
          <!-- 改行してデザイン調整するため -->
            <% if industry_type.id == 4 %>
              </div><div class="item-box">
            <% end %>
            <% if industry_type.id == 7 %>
              </div><div class="item-box">
            <% end %>
          <!-- ここまで -->
          <a href="/vendors/index">
            <figure>
              <%= image_tag("industryTypeItem/#{industry_type.id}.jpg") %>
              <figcaption><%= "#{industry_type.name}"%></figcaption>
            </figure>
          </a>
      <% end %>
    </div>
  </div>
</div>
<%= render 'home/footer' %>
