<%= render 'home/form' %>
<main>
  <div class="main">
    <div class="currentPath">
      <a href="/top">HOME</a> >
      <a href="/vendors/index">ベンダー一覧</a> >
      <a><%= @vendor.name %></a> >
      <a><%= link_to("口コミ投稿", "/reviews/v/#{@vendor.id}/new") %></a>
    </div>
    <section class="container">
      <div class="contentsHeader_text">
        <h2><%= @vendor.name %></h2>
        <div class="totalRating-item">
          <div class="star-front" style="width: <%= @vendor.id+33 %>px;">★★★★★</div>
          <div class="star-back">★★★★★</div>
          <div class="rating-num"><%= "#{@vendor.id}.5" %></div>
        </div>
        <div class="targetLogoImage">
        <%= image_tag("vendorLogo/#{@vendor.id}.jpg") %></div>
      </div>
      <div class="title">
        <h3>ユーザーによる評価スコア</h3>
      </div>
      <div class="averageScore">
        <%= high_chart("sample", @graph) %>
      </div>
      <div class="title">
        <h3>カテゴリ別 ユーザーの口コミ</h3>
      </div>
      <ul class="questionList">
        <% @categories.each do |category| %>
          <li class="questionList_item">
            <%= image_tag("categoryItem/#{category.id}.jpg") %>
            <div class="questionList_link">
              <%= link_to("#{category.name}", "/vendors/#{@vendor.id}") %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= render 'reviews/index' %>
    </section>
  </div>
</main>
<%= render 'home/footer' %>
