<%= render 'home/form' %>
<main>
  <div class="main">
    <div class="currentPath">
      <a href="/top">HOME</a> >
      <a href="/systems/index">システム一覧</a>
    </div>
    <section class="container">
      <div class="content-body">
        <h1>システム一覧</h1>
        <div class="sortTab">
          <ul>
            <p>表示順：</p>
            <li>
              <a href="/systems/index">口コミ数</a>
            </li>
            <li>
              <a href="/systems/index">ランキング</a>
            </li>
          </ul>
        </div>
        <ul>
          <% @systems.each do |system| %>
            <li>
              <div class="searchCompanyArea">
                <div class="searchCompanyLogoArea"><%= image_tag("systemLogo/#{system.id}.jpg") %></div>
                <div class="searchCompanyName">
                  <div>
                    <%= link_to("#{system.name}", "/systems/#{system.id}") %>
                  </div>
                  <div class="totalRating-item">
                    <div class="star-front" style="width: 17px;">★★★★★</div>
                    <div class="star-back">★★★★★</div>
                    <div class="rating-num"><%= "#{system.id}.5" %></div>
                  </div>
                </div>
                <div class="searchCompanyItems">
                  <div class="companyItem">
                    口コミ数：
                    <div class="system-name">
                      <%= link_to("50件", "/systems/#{system.id}") %>
                    </div>
                  </div>
                  <div class="companyItem">
                    ベンダー：
                    <div class="system-name">
                      <%= link_to("OBIC7", "/systems/#{system.id}") %>
                    </div>
                    <div class="system-name">
                      <%= link_to("COMPANY", "/systems/#{system.id}") %>
                    </div>
                    <div class="system-name">
                      <%= link_to("GLOVIA", "/systems/#{system.id}") %>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
</main>
<%= render 'home/footer' %>
