<div class="title">
  <h3>ユーザーの口コミ一覧</h3>
</div>
<div class="content-body">
  <% @reviews.each do |review| %>
    <article>
      <div class="article-header">
        <%= image_tag("categoryItem/#{review.category_id}.jpg") %>
        <div class="categoryImageArea">
        <%= link_to("#{review.get_category_name}について", "/reviews/#{review.id}") %>
        </div>
        <p>回答日：<%= review.updated_at.strftime("%Y年%m月%d日") %></p>
      </div>
      <div class="article-body">
        <dl>
          <dt>
            <span>回答者：</span>
            <a href="/top"><%= review.get_user.industry_type %></a>、
            <a href="/top"><%= review.working_period %></a>、
            <a href="/top"><%= review.get_user.section %></a>
            <div class="totalRating-item">
              <div class="star-front" style="width: <%=review.score*17%>px;">★★★★★</div>
              <div class="star-back">★★★★★</div>
              <div class="rating-num"><%= review.score %></div>
            </div>
          </dt>
          <dd>
            <%= review.content %>
          </dd>
        </dl>
      </div>
    </article>
  <% end %>
</div>
