<%= render 'home/form' %>
<main>
  <div class="main">
    <div class="currentPath">
      <a href="/top">HOME</a> >
      <a href="/vendors/index">INDEX</a>
    </div>
    <section class="container">
      <div class="content-body">
        <h2>口コミ一覧</h2>
        <div class="sortTab">
          <ul>
            <p>表示順：</p>
            <li>
              <a href="/vendors/index">口コミ数</a>
            </li>
            <li>
              <a href="/vendors/index">ランキング</a>
            </li>
          </ul>
        </div>
        <% @reviews.each do |review| %>
          <article>
            <div class="article-header">
              <%= image_tag("categoryItem/#{review.category_id}.jpg") %>
              <div class="categoryImageArea">
              <%= link_to("#{review.category_id}", "/reviews/#{review.id}") %>
              組織体制について
              </div>
              <p>回答日：2018年9月19日</p>
            </div>
            <div class="article-body">
              <dl>
                <dt>
                  <span>回答者：</span>
                  <a href="/top">不動産業</a>、
                  <a href="/top">導入3~5年</a>
                  <a href="/top">経理・財務部</a>
                </dt>
                <dd>
                  <a href="/top"><%= review.score %></a>
                  <%= link_to("#{review.content}", "/reviews/#{review.id}") %>
                </dd>
              </dl>
            </div>
          </article>
        <% end %>
      </div>
    </section>
  </div>
</main>
<%= render 'home/footer' %>
